

<div class="container">
  <div class="Header">
    <div class="userSignIn">
      <div class="signUp"></div>
      <div class="passwordRecovery"></div>
      <div class="logIn"></div>
    </div>
  </div>
  <div class="body">
    <div class="WelcomeText"></div>
    <div class="aboutText"></div>
    <div class="toFoodRepo"></div>
  </div>
  <div class="background"></div>
  <div class="github">
    <div class="githubIcon"></div>
    <div class="myGithub"></div>
  </div>
  <div class="pause"></div>
</div>